/* CSS File Imports */

@import url("showcase.css");
@import url("menu.css");
@import url("about_me.css");
@import url("project_tech.css");
@import url("socials.css");
@import url("preloader.css");

/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap");

:root {
  --overlay-color: #95bdbb;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 325vh;
  background-color: #fafafa;
}

/********************** Resposivness *********************/

@media (max-width: 320px) {
  .projects {
    top: 194vh;
  }
  .text h3 {
    font-size: 1em;
  }

  .showcase header {
    padding: 40px 25px;
  }

  .project-link {
    top: 60px;
  }

  .project-title h4 {
    font-size: 1em;
  }

  .socials li {
    margin-right: 0px;
  }

  .socials li i {
    width: 50px;
  }

  .contacts {
    top: 400vh;
  }
}
/************** Mobile M *******************/

@media (max-width: 375px) {
  .projects {
    top: 195vh;
  }
  .text p {
    font-size: 0.6em;
  }

  .program-icons-container svg {
    height: 55px;
    width: 55px;
  }

  .project-title h4 {
    font-size: 1em;
  }

  .socials li {
    margin-right: 0px;
  }

  .socials li i {
    width: 50px;
  }

  .contacts {
    top: 398vh;
  }
}

/*************** Mobile L ********************/

@media (max-width: 425px) {
  .text h3 {
    font-size: 2.5em;
  }

  .text span {
    font-size: 1em;
  }

  .projects {
    top: 195vh;
  }

  .program-icons-container svg {
    height: 50px;
    width: 50px;
  }

  .project-title h4 {
    font-size: 1.5em;
  }

  .program-icons-container svg {
    height: 55px;
    width: 55px;
  }

  .contacts {
    top: 397vh;
  }
}

@media (max-width: 692px) {
  .text p {
    font-size: 1em;
  }

  .projects {
    top: 205vh;
  }
}

@media (max-width: 768px) {
  body {
    height: 355vh;
  }

  .showcase,
  .showcase header {
    padding: 40px;
  }

  .text h2 {
    font-size: 2.5em;
  }

  .text-about-me {
    left: 40px;
    width: 200px;
  }

  .program-icons-container ul {
    margin-top: 65px;
  }

  .contacts {
    top: 345vh;
  }
}

@media (max-width: 888px) {
}

@media (min-width: 1024px) {
  body {
    height: 350vh;
  }

  .contacts {
    top: 340vh;
  }
}

@media (min-width: 1124px) {
  .text-about-me {
    left: 40px;
    width: 200px;
  }

  body {
    height: 281vh;
  }

  .projects {
    height: 71vh;
  }

  .contacts {
    top: 277vh;
  }
}

@media (min-width: 1125px) {
  .projects {
    top: 217vh;
  }

  .contacts {
    top: 319vh;
  }
}
