/* CSS File Imports */

@import url("showcase.css");
@import url("menu.css");
@import url("about_me.css");
@import url("project_tech.css");
@import url("socials.css");

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap');

:root {
  --overlay-color: #95bdbb;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 325vh;
  background-color: #FAFAFA;
}

/********************** Resposivness *********************/

@media(max-width: 320px) {
  .project-title h4 {
    font-size: 1em;
  }
}
/************** Mobile M *******************/

@media(max-width: 375px) {
  .text p {
    font-size: 0.6em;
  }

  .program-icons-container svg {
    height: 55px;
    width: 55px;
  }

  .project-title h4 {
    font-size: 1em;
  }
}

/*************** Mobile L ********************/

@media(max-width: 425px) {

  .text h3 {
    font-size: 1em;
  }

  .text span {
    font-size: 1em;
  }

  .program-icons-container svg {
    height: 50px;
    width: 50px;
  }

  .project-title h4 {
    font-size: 1.5em;
  }

  .program-icons-container svg {
    height: 55px;
    width: 55px;
  }

}

@media(max-width: 692px) {

  .text p {
    font-size: 1em;
  }

}

@media(-width: 771px) {

  body {
    height: 355vh;
  }

  .showcase, .showcase header {
    padding: 40px;
  }

  .text h2 {
    font-size: 3em;
  }

  .text-about-me {
    left: 40px;
    width: 200px;
  }

  .program-icons-container ul {
    margin-top: 65px;
  }

}

@media(max-width: 888px) {
  .text h3 {
    font-size: 3.5em;
  }
} 

@media(max-width: 1024px) {
  body {
    height: 350vh;
  }

  .contacts {
    top: 340vh;
  }
}

@media(max-width: 1124px) {
  .text-about-me {
    left: 40px;
    width: 200px;
  }
}
